:root {
    --white: #ffffff;
    --black: #000000;
    --neutral-light: #CFCDC9;
    --neutral: #8C8985;
    --neutral-dark: #6C6463;
    --main: #FF5265;
    --main-dark: #d14353;
    --accent: #366CB0;
    --sec: #325933;
    --sec-light: #2e8e75;
    --green-dark: #3AB091
}

header.main-menu {
    background-color: var(--sec-light)
}

header.main-menu.slideInDown {
    background-color: var(--white)
}

header .header_user_notif li .dropdown .notification_icon {
    border: var(--white) 1px solid;
    background: var(--accent)
}

.login_form.inner_page .form-control {
    border-color: var(--main)
}

#loginbtn {
    background-color: var(--main)
}

.secondary-navigation .navigation .nav-tabs {
    background-color: var(--accent)
}

.secondary-navigation .navigation .nav-tabs .nav-link.active {
    color: var(--accent)
}

.footer_middle_area .logo-widget span {
    display: none
}

.menu_style_home_one.stricky-fixed {
    box-shadow: 0px 0px 7px 4px rgba(var(--black), 0.3);
    border-bottom: 1px solid var(--sec) !important
}

.ccn_footer_style_1 .footer_one {
    background-color: var(--green-dark)
}

#page-site-index section.inner_page_breadcrumb .breadcrumb_content {
    text-shadow: 0px 0px 5px rgba(var(--black), 0.4)
}

#page-site-index section.inner_page_breadcrumb .breadcrumb_content a {
    text-shadow: 0px 0px 5px rgba(var(--black), 0.4)
}

#page-site-index section.inner_page_breadcrumb::after {
    height: 100%;
    width: 100vw;
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    background: url(/custom/images/bg-header.png) left bottom no-repeat, url(/custom/images/bg-header2.png) right bottom no-repeat;
    background-size: auto 78%
}

#page-login-index section.inner_page_breadcrumb::after {
    height: 100%;
    width: 100vw;
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    background: url(/custom/images/bg-header.png) left bottom no-repeat, url(/custom/images/bg-header2.png) right bottom no-repeat;
    background-size: auto 78%
}

#ccn-main-region {
    padding-top: 10px
}

#page-course-view-tiles .secondary-navigation {
    padding-bottom: 0px
}

.course-27 section.inner_page_breadcrumb::after {
    height: 100%;
    width: 100vw;
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    background: url(/custom/images/bg-hdr-mat.png) left bottom no-repeat, url(/custom/images/bg-hdr-mat2.png) right bottom no-repeat;
    background-size: auto 78%
}

.course-27 section.inner_page_breadcrumb::before {
    background-image: url(/custom/images/bg-points.png);
    background-color: var(--main)
}

.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text {
    width: 100% !important
}

.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text h3 {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent
}

.format-tiles .p-3 {
    padding: 1rem
}

.format-tiles .text-bg-dark-green {
    background-color: var(--green-dark);
    color: #fff;
    text-align: center;
    font-weight: bold
}

/*# sourceMappingURL=style.css.map */