.block_accessibility{
    position: fixed;
}
#block_accessibility_changecolour .access-button{
    border: 1px solid #0f6cbf;
    margin: 0 0 .3em!important;
    a{
        background-color: white;
        color: #29265b;
    }
    
}
#sbar {
    top: 88px!important;
    #sbarlogo, #at-btn-ftw, #at-btn-dictionary, #at-lnk-ftw, #at-lnk-dictionary, #at-lnk-wordprediction, #at-lnk-css, #at-lnk-overlay, #at-btn-wordprediction, #at-btn-css, #at-btn-overlay{
        display: none!important;
    }
    .atbar-always{
        display: none;
    }
}
#sbar>img{
    display: none;
}
#block_accessibility_textresize{
    display: none!important;
}

@media (max-width: 575.98px) {
    #sbar{
        top: 0px!important;
    }
}
.block_accessibility{
    position: fixed!important;
    right: 7px;
    width: 57px;
    padding: 6px;
    background: #6bc2d5;
    color: white;
    border: 1px solid #0f6cbf;
    top: 45vh;
    z-index: 1;
    h4{
        display: none;
    }
    ul{
        li{
            width: 92%;
            margin: 4px auto;
        }
    }
    #block_accessibility_launchtoolbar{
        background: white url(/custom/images/showc.svg) center center no-repeat!important;  
        background-size: auto 100%;
        color: transparent;
    }
    #block_accessibility_launchtoolbar:hover{
        background: antiquewhite url(/custom/images/showc.svg) center center no-repeat!important;  
        background-size: auto 100%;
        border: 1px solid #3b3a63;
    }
}
#accessibility_controls .access-button{
    width: 100%;
}
.atbar-always label{
    display: none;
}
#accessibility_controls input{
    display: none;
}