/*BOLOQUE COCOON ACCORDION*/
.block_cocoon_accordion{
    h4{
        font-family: MuseoSansCondensed-900;
    }
    .accordion > .card{
        border: 0px!important;
    }
    .accordion{
        .btn-link{
            border: 1px solid;
            font-family: MuseoSansCondensed-700;
            border-radius: 8px;
            background: #7fdbf0;
            color:#29265b;
            padding: 0.8rem 1.25rem 0.7rem;
            font-size: 0.6em;
            .card-header{
                .float-right{
                    top: 13px;
                }
            }
        }
        .card-header .float-right{top: 13px;}
        .btn-link.collapsed{
            background: #6bc2d5;
        }
        div.collapse{
            padding: 10px 20px;
        }
        div.collapse.show{
            margin-top:-5px;
            padding: 10px 20px;
            border: 1px solid;
            border-radius: 8px;
            box-sizing: border-box;
        }
    }
}

/*END BOLOQUE COCOON ACCORDION*/