/*Buttons*/

.btn-lg{
    font-size: 22px;
}
body.notloggedin{
    .support-request{
        display: none;
    }
}
body{
    .support-request{
        position:fixed!important;
        bottom:60px!important;
        right:6px!important;
        z-index: 3;
        .btn{
            --bs-btn-padding-y: .25rem; 
            --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;
            .icon-request{
                path{
                    fill:white;
                    stroke: #1C5197;
                }
            }
        }
        .btn:hover{
            background-color: white!important;
            color: #1C5197;
            .icon-request{
                path{
                    fill:#1C5197;
                }
            }
        }
    }
}