#page-my-index,
#page-message-index {
    .dashbord {
        .ff_one {

            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: var(--accent);
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            border-radius: 1em;
            transition: transform .3s;
            will-change: transform;

            .detais {
                padding: 1em;

                p {
                    color: var(--white) !important;
                }

                color: var(--white) !important;
                font-weight: bold !important;
            }

            .ff_icon {

                background-color: transparent;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(#{$images_path}dashboard_icon_bg.svg);
                min-height: 100%;
                align-content: center;
                display: grid;

                box-shadow: none !important;

                span {

                    &::before {
                        content: url(#{$images_path}dashboard_msj.svg) !important;
                    }
                }
            }


            &.style2 {
                background-repeat: no-repeat;
                background-size: cover;
                background-color: var(--main);
                .ff_icon {
                    span {
                        &::before {
                            content: url(#{$images_path}dashboard_profile.svg) !important;
                        }
                    }
                }
            }

            &.style3 {

                background-repeat: no-repeat;
                background-size: cover;
                background-color: var(--purple-dark);
                .ff_icon {
                    span {
                        &::before {
                            content: url(#{$images_path}dashboard_settings.svg) !important;
                        }
                    }
                }
            }

            &.style4 {
                background-repeat: no-repeat;
                background-size: cover;
                background-color: var(--orange-medium);
                .ff_icon {
                    span {
                        &::before {
                            content: url(#{$images_path}dashboard_grades.svg) !important;
                        }
                    }
                }
            }

            &:hover,
            &:focus,
            &:focus-within,
            &:focus-visible {
                transform: scale(1.05);
            }
        }
    }
}
.welcomevideo section#our-top-courses{
    display: none!important;
} 