@font-face {
    font-family: MuseoSansCondensed-700;
    src: url(#{$font_path}MuseoSansCondensed-700.ttf);
}
@font-face {
    font-family: MuseoSansCondensed-900;
    src: url(#{$font_path}MuseoSansCondensed-900.ttf);
}