/*Footer*/
/*.footer_middle_area {
    .logo-widget {
        span {
            display: none;
        }
    }
}

.menu_style_home_one.stricky-fixed {
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--sec) !important;
}

.ccn_footer_style_1 .footer_one{
    background-color: var(--green-dark);
}

section.footer_one{
    background-color: var(--green-ultra-dark)!important;
}*/
.footer_middle_area{
    background-color: #089faf!important;
    .footer_menu_widget{
        margin-top: 20px;
        font-weight: bolder;
    }
}
section.footer_one {
    .container{
        h4, a, strong, .footer_support_widget  {
            color: #29285b;
        }
    }
}
section.footer_middle_area{
    .logo-widget span{display:none;}
    .footer_social_widget{
        li.list-inline-item{
            font-size: 24px;
        }
    }
} 

section.footer_bottom_area{
    display:none;
}
section.footer_one{
    .footer_apps_widget{
        text-align: right;
    }
}
.copyright-widget{
    display: none;
}