.format-tiles {
    .tile.phototile a {
        padding:10px 12px;
    }
    .course-content ul.tiles .tile.phototile .photo-tile-text{
        width: 100%!important;
        h3{
            display: block;
            width: 100%;
            text-align: center;
            text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
            font-weight: bold;
            text-transform: uppercase;
            background-color: transparent!important;
        }
    }
    .course-content{
        ul.tiles .tile.phototile.tilestyle-1 .photo-tile-text h3, ul.tiles .tile.phototile.tilestyle-2 .photo-tile-text h3{
            font-family: MuseoSansCondensed-700;
            font-size: 1.6em;
        }
    } 
    .sectiontitle{
        h2{
            color: var(--accent);
            text-transform: uppercase;
            font-family: MuseoSansCondensed-900;
        }
    }
    .p-3{
        padding:1rem;
    }
    .text-bg-dark-green, .text-bg-magenta, .text-bg-dark-yellow{   
        text-align: center;
        font-weight: bold;
    }
    .text-bg-dark-green{
        background-color: var(--green-dark);
        color: white;
    }
    .text-bg-magenta{
        background-color: var(--main);
        color: white;
    }
    .text-bg-dark-yellow{
        background-color: var(--yellow-dark);
        color: black;
    }
    li#section-0{
        display: none!important;
    }
    
}


