/*navegación*/

body:not(.ccn_header_style_7) .navbar_brand img, .ccn_header_style_2 .logo-widget img{
    max-height:80px;
}

#frontpage-available-course-list{display:none;}
#ccn-main h4.title{display:none;}
#ccn-main-region{padding-top:0px!important;}
.secondary-navigation{padding-bottom:0px;}
.accesshide {display:none;}/*borrar despues*/

/*Estudiante o participante*/
body.path-my{
    .dashbord_nav_list{
        ul{
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(5){
                display: none;
            }
            li:nth-child(6){
                display: none;
            }
        }
    }
    .container.ccn_breadcrumb_widgets.clearfix{
        display: none;
    }
    .main_content_container{
        .primary-navigation{
            display: none;
        }
    }
    .my_course_content{
        .my_course_content_header{
            display:none;
        }
    }

} 
body{
    color:#1C5196;
}
/*Otras personas*/

/*OK*/
.secondary-navigation {
    .navigation {
        .nav-tabs {
            background-color: var(--accent);

            .nav-link.active {
                color: var(--accent);
            }
        }
    }
}

.bg-forum {
/*background-image: url(#{$images-path}icon_forum.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-external {
/*background-image: url(#{$images-path}icon_external.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-learning {
   /*background-image: url(#{$images-path}icon_learning.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-meet {
/*background-image: url(#{$images-path}icon_meet.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}


.bg-practice {
/*background-image: url(#{$images-path}icon_practice.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-summary {
/*background-image: url(#{$images-path}icon_summary.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-using {
/*background-image: url(#{$images-path}icon_using.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}

.bg-solving {
    /*background-image: url(#{$images-path}icon_solving.svg);*/
    background-size: cover;
    background-position: 50% 50%;
}
.ccn_mc_progress{ display: none;}

.path-mod .automatic-completion-conditions .badge:first-child {
    margin-top: 0;
    display: none;
  }