/*Header*/
header {

    &.main-menu {
        background-color:#1c5197;

        &.slideInDown {
            background-color:#FFFFFF;
        }
    }
    &.header-nav{
        a.navbar_brand{
            span{display:none;}
            &::before{
                top:12px;
            }
        }
        &.menu_style_home_one{
            a.navbar_brand{margin-top:1px;}
        }
    }

    .header_user_notif {
        li .dropdown .notification_icon {
            transition: all 0.35s linear;
            border: white 1px solid;
            &:hover{
                background-color: rgb(68, 193, 212);
            }
            
        }
    }
    #respMenu{
        .flaticon-settings:before, .flaticon-speech-bubble:before, .flaticon-alarm:before, .ccn-flaticon-hide:before{
            color:#29265b;
        }
    }
    .header_user_notif{
        .flaticon-settings:before, .flaticon-speech-bubble:before, .flaticon-alarm:before, .ccn-flaticon-hide:before{
            color:#29265b;
        }
    }
}
.header_user_notif li.user_setting .dropdown-menu .user_setting_content a:hover{
    background: #29265b;
}
#open-modal-btn {
    position: fixed;
    left: 10px;
    bottom: 60px;
    background-color: #405ca4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#open-modal-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#dialog-box {
    display: none;
    position: fixed;
    text-align: center;
    left: 160px;
    bottom: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    z-index: 9999;
}

#open-modal-btn:hover + #dialog-box,
#dialog-box:hover {
    display: block;
}

#dialog-box p {
    margin: 0;
}

@media only screen and (max-width: 1199.98px) {

    img.nav_logo_img.img-fluid.float-left.mt20 {
        max-height: 45px;
    }

    .stylehome1 .mm-navbar,
    .stylehome1 .mm-panel {
        background-color:#1c5197;
    }

    .stylehome1 .mm-navbar {
        background-color:#1c5197;
    }


    .stylehome1::before,
    .mobile-menu .header.stylehome1 {
        background-color:#1c5197 !important;
    }
}

header.header-nav.menu_style_home_one .sign_up_btn li.list_s{
    border: 0px;
}
header.header-nav.menu_style_home_one .sign_up_btn li.list_s a.btn.flaticon-user{
    background: white;
    color: #29265b;
    font-size: 1.2em;
    :hover{
        background: #eeedff;
    }
}
header.header-nav.menu_style_home_one.stricky-fixed .sign_up_btn li.list_s{
    border:1px solid #29265b;
    border-radius: 4px;
}