/*Interior del curso*/
p{
    font-size: 17px;
}
.internal-video{
    .our-courses.pt0.pb0{
        display: none;
    }
}

.quizreviewsummary {
    display: none;
}
.outcome {
   display: none;
}

div#abovetiles {
    display: none!important;
}
div.course_content{
    margin-top: 0px;
    padding-top: 0px;
}
// banner de notas
.block_html{
    padding: 10px;
}
.card-grades{
    .card-header{
        background: url(#{$images_path}bg-header.png) no-repeat;
        height: 90px;
        border:none;
        margin-bottom: 0px!important;
        border-radius: 0px!important;
    }
    .card-body{
        background: #292558;
        border:none;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .card-title{
            font-size: 1.3rem;
            color: white;
            font-weight: bold;
        }
    }
    .btn-primary{
        border-radius: 0px;
        background-color: #5864AC;
        border: #5864AC;
        &:hover{
            font-weight: bold;
            color: white!important;
        }
    }
    .btn-primary::before{
        content: " ";
            background: url(#{$images_path}icon-clic.png) no-repeat;
            background-size: contain;
            display: flex;
            width: 50px;
            height: 50px;
            position: absolute;
            margin-left: 60%;
    }
    .card-footer{
        border: none;
        background: #EE7A45;
    }
}
#region-main .accordion .card{
    border: 0px solid #29265b!important;
}

/*banner de inscripción*/

.container-hse-bg{
    background: url(#{$images_path}bg-hse-1.jpg) no-repeat, url(#{$images_path}bg_personaje_hse.png) center top no-repeat;
    color: white!important;
    border-radius: 5px;
    .cont-image{
        height: 120px;
        width: 100%;
        display: block;
        overflow: hidden;
        img{
            display: block;
            margin: auto;
            overflow: hidden;
        }
    }
    .cont-message{
        background: #5864AC!important;
        border-top-right-radius: 30px;
        h2{
            color:#29265B;
            font-family: MuseoSansCondensed-900!important;
        }
        h3, h4{
            color: white;
            font-family: MuseoSansCondensed-700!important;
        }
    }
    .btn-danger{
        background: #E35A0F;
    }
}
.activity-navigation{
    .float-right{
        .btn-secondary{
            background-color:#292558;
            color: white;
        }
    }
}

/* BADGES */
.badge.alert-success, .badge-pill.alert-success{
    background-color: rgb(0, 92, 37)!important;
}
/*close BADGES*/

/*BANNER DE INSIGNIAS*/
.container-insignias{
    background: rgb(39,49,116);
    background: linear-gradient(180deg, rgba(39,49,116,1) 0%, rgba(97,119,198,1) 50%, rgba(97,119,198,1) 100%);
    border-radius: 5px;
    h2{
        color:#EE7A45;
        font-family: MuseoSansCondensed-900!important;
        small{
            color: white;
            font-family: MuseoSansCondensed-700!important;
        }
    }
    .btn-danger{
        background: #E35A0F;
        margin: auto;
        display: block;
    }
}

