/*Curso y navegación*/
#ccn-main-region {
    padding-top: 10px;
}

#page-course-view-tiles {
    .secondary-navigation {
        padding-bottom: 0px;
    }
}
section.inner_page_breadcrumb .container{
    z-index: 1;
    position: inherit;
}

#page-course-view-topics, #page-mod-assign-view{
    section.inner_page_breadcrumb {
        height: 280px;
    }
    .breadcrumb_content{
        margin-top: 30px!important;
    }
}
section.inner_page_breadcrumb {
    height: 290px;
    &::after {
        height:90px;   
        width:99vw;   
        display:block;   
        content:" ";   
        position: absolute;  
        bottom:10px;  
        background: url(/custom/images/background-icos1.png) left bottom no-repeat, url(/custom/images/background-icos2.png) right bottom no-repeat;  
        background-size: auto 90px;
    }
    .breadcrumb_content{ 
        -webkit-border-radius: 5px; 
        -moz-border-radius: 5px; 
        border-radius: 5px;
        background: rgb(85,100,174);
        background: linear-gradient(90deg, rgba(85,100,174,0) 0%, rgba(28,81,151,1) 40%, rgba(28,81,151,1) 60%, rgba(85,100,174,0) 100%);
        margin-top: 34px;
    }
    
}
#inst15{
    isolation: isolate;
    overflow: hidden;
    h2.title{
        font-family: MuseoSansCondensed-900!important;
        font-size: 4.2em;
    }
    .home-twelve{
        &::after {
            height:90px;   
            width:99vw;   
            display:block;   
            content:" ";   
            position: relative;  
            background: url(/custom/images/background-icos1.png) left bottom no-repeat, url(/custom/images/background-icos2.png) right bottom no-repeat;  
            background-size: auto 90px;
            z-index: 1;
            margin-top: -100px;
            background-color: #5564ab8f;
            border-top: 2px solid transparent;
            border-image: linear-gradient(to right, #29265b00 35%, #29265b 50%, #29265b00 95%) 1 / 1;
        }
    }
}


.course_content{
    .cc_headers{
        display: none;
    }

}

#page-mod-assign-view{
    .page-context-header{
        display: none;
    }
    .automatic-completion-conditions{
        .badge-light{
            color: #1C5196;
        }
    }
}
/* cursos */
.format-topics .course-content .sectionname a{    
    font-size: 22px;
}
.path-mod .automatic-completion-conditions .badge.badge-light{
    border: solid #1C5196;
    color: #1C5196;
}

@media (max-width: 575.98px) {
    section.inner_page_breadcrumb::after{
        background-size: auto 47px;
    }
    .mobile-menu .header.stylehome1 .main_logo_home2 span{
        display:none;
    }
    section.inner_page_breadcrumb .container .breadcrumb_content{
            background: linear-gradient(90deg, #1c5197 0%, #1c5197 40%, #1c5197 60%, #1c5197 100%);
    }
    section.inner_page_breadcrumb .container{
        background: #1c5197;
    }
}

@media only screen and (max-width: 520px){
    .breadcrumb_content{ 
        margin-top: 40px;
        background:#1c5197;
    }
}

#page-my-index .ff_one{display: none!important;}// IMPORTANTE ELIMINAR //