/*Login*/
.login_form.inner_page .form-control {
    border-color: var(--main);
}

.login_form{
    a.btn-fpswd{
        color: white!important;
        background: #293cad;
        padding: 5px 10px;
        border-radius: 7px;
        text-decoration: none;
        :hover{
            background: #17246f;
        }
    }
}
/*
#loginbtn {
    background-color: var(--main);

    &:hover,
    &:focus,
    &:focus-visible {
        background-color: var(--accent) !important;
        color: var(--white) !important;
    }


}

#page-login-index {
    section.inner_page_breadcrumb {
        &::after {
            height: 100%;
            width: 100vw;
            display: block;
            content: " ";
            position: absolute;
            bottom: 0;
            background: url(#{$images_path}bg-header.png) left bottom no-repeat,
            url(#{$images_path}bg-header2.png) right bottom no-repeat;
            background-size: auto 78%;
        }
    }
}
*/