/*Main menu*/
.menu_style_home_one.stricky-fixed{
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
    border-bottom: 1px solid #DD5800!important;
}
/*Borrar en segunda face*/
nav.navigation{
    [data-key|="mycourses"]{
        menuitem{
            content:"carga de documentos";
        }
    }
}
/*nav.ccn_nav_group{
    ul#respMenu{
        :nth-child(5){
            .dropdown-menu .user_setting_content{
                :nth-child(1){
                    visibility: hidden;
                    pointer-events: none; 
                    cursor: default;
                }
                :nth-child(2){
                    pointer-events: none;
                    cursor: default;
                    visibility: hidden;
                }
            } 
        }
    }
}*/