/*Inicio del sitio*/
#page-site-index {

    section.inner_page_breadcrumb {

        &::after {
            height: 400px;
            /*height: 100%;
            width: 100vw;
            display: block;
            content: " ";
            position: absolute;
            bottom: 0;
            background: url(#{$images_path}bg-header.png) left bottom no-repeat,
            url(#{$images_path}bg-header2.png) right bottom no-repeat;
            background-size: auto 78%;*/
        }
    }
}