$img_theme: "/theme/edumy/images/assets/";
$images_path: "/custom/images/";
$font_path: "/custom/fonts/";

:root {
    --white: #ffffff;
    --black: #000000;

    --neutral-light: #CFCDC9;
    --neutral: #8C8985;
    --neutral-dark: #606060;

    --main: #29285b;
    --main-dark: #29285b;
    --accent: #366CB0;

    --sec: #325933;
    --sec-light: #2e8e75;

    --green-dark: #3AB091;
    --green-ultra-dark: #2e8f76;

    --yellow-light: #efe3ca;
    --yellow-dark: #F3B53D;

    --purple-dark: #403d8e;
    --orange-medium: #29285b;
}
