#region-main{
    .accordion{
        .card{
            border: 1px solid #29265b;
            border-radius: 4px;
            .card-header h2 a{
                background: #6bc2d5;
                color: #29265b;
                font-family: MuseoSansCondensed-900;
            }
        }
    }
}