<div class='content alert-tau'>
    <div class="alert alert-success alert-white rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="icon"><i class="fa fa-check"></i></div>
        <strong>Success!</strong> Changes has been saved successfully!
    </div>
    <div class="alert alert-info alert-white rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="icon"><i class="fa fa-info-circle"></i></div>
        <strong>¡Atención, estimado benerficiario!</strong> <br> Agradecemos tu participación en esta encuesta. Tus respuestas nos permitirán evaluar la experiencia tanto en tu línea técnica específica como en los componentes transversales del programa.
    </div>
    <div class="alert alert-warning alert-white rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="icon"><i class="fa fa-warning"></i></div>
        <strong>Alert!</strong> Don't forget to save your data.
    </div>
    <div class="alert alert-danger alert-white rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="icon"><i class="fa fa-times-circle"></i></div>
        <strong>Error!</strong> The server is not responding, try again later.
    </div>
</div>

<div class='content alert-tau'>
    <div class="alert alert-warning alert-white rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <div class="icon"><i class="fa fa-warning"></i></div>
        <p>
            <strong>¡Estimado beneficiario!</strong><br> 
            Recuerde vincular un solo pdf a la entrega, si tiene inconvenientes para unir un único pdf siempre puede usar las siguientes herramientas:
        </p>
        <ul class="ml-5">
            <li>
                <a href="https://www.ilovepdf.com/es/unir_pdf" target="_blank" rel="unir varios pdfs en uno">
                    <b>Unir varios pdfs en uno.</b> 
                </a>
            </li>
            <li>
                <a href="https://www.ilovepdf.com/es/jpg_a_pdf" target="_blank" rel="convertir jpg en pdfs">
                    <b>Convertir jpgs en pdf.</b> 
                </a>
            </li>
            <li>
                <a href="https://www.ilovepdf.com/es/word_a_pdf" target="_blank" rel="convertir doc en pdfs">
                    <b>Convertir un documento word en pdf.</b> 
                </a>
            </li>
        </ul>
    </div>
</div>


Todo el proceso de matricula hasta el 23 de mayo 
Lunes 6 de mayo
Lunes 13
Lunes 20

Inicio de clases 30 
