<div class="container-hse-bg my-5 rounded-2 pb-5">
    <div class="row justify-content-center">
        <div class="col-10 cont-image">
            <img src="/custom/images/bg_personaje_hse.png" alt="imagen decorativa">
        </div>
        <div class="col-10 cont-message px-3">
            <h2 class="mt-3">SABÍAS QUE...</h2>
            <P><strong>¿Cuándo participas en un proceso de selección en una empresa, están evaluando tus Habilidades Socioemocionales?</strong></P>
            <P>Si has faltado a 2 o más sesiones, nivelate en las sesiones de Habilidades Socioemocionales el viernes 11 o sábado 12 de agosto en los diferentes horarios que te ofrecemos en modalidad virtual y presencial.</P>
            <div class="row justify-content-center">
                <div class="col-10 text-center">
                    <a class="btn btn-danger mb-4" href="https://forms.gle/eDm8x8js8EWYWgzb7/" target="_blank" rel="formulario de inscripción">
                        <b>Inscribete aquí</b>
                    </a>
                    <h4>
                        ¡NO TE LO PIERDAS!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>