<div class="container-insignias my-5 rounded-2 pb-5">
    <div class="row justify-content-center">
        <div class="col-10 cont-image">
            <img src="/custom/images/img.png" alt="imagen manos sosteniendo un reloj de arena">
        </div>
        <div class="col-10 cont-message px-3">
            <h2 class="mt-3 text-center">
                BENEFICIARIO
            </h2>
            <P><strong>Siempre que cargue un documento</strong></P>
            <P>Nuestra plataforma hace una verificación de seguridad sobre lo que se carga, es posible que tome unos segundos en hacer la verificación.</P>
            <h4>
                Por favor sea paciente, no reargue la página.
            </h4>
        </div>
    </div>
</div>
