<div class="container-insignias my-5 rounded-2 pb-5">
    <div class="row justify-content-center">
        <div class="col-10 cont-image">
            <img src="/custom/images/img_insignia.png" alt="imagen decorativa de una insignia">
        </div>
        <div class="col-10 cont-message px-3">
            <h2 class="mt-3 text-center">
                INSIGNIAS<br>
                <small>¿Sabes cuales has ganado?</small>
            </h2>
            <a class="btn btn-danger mb-1" href="#" target="_blank" rel="insignias">
                <b>¿Cómo y qué beneficios te dan? </b>
            </a>
            <a class="btn btn-danger mb-1" href="#" target="_blank" rel="insignias">
                <b>Verifica tus insignias</b>
            </a>
        </div>
    </div>
</div>