<section class="portfolio-experiment">
    <a class="button">
      <span class="text">Hover me</span>
      
    </a>
  </section>

  <div class="d-grid gap-2 button-container"> 
    <a href="https://forms.gle/mMPE5r1fCobPLXUp8" type="button" class="button btn btn-warning w-100" target="_blank">
        <small> 
            <b>Test (10%)</b>
        </small><br>
        <strong>Test para alcanzar éxito laboral</strong>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
    </a>
  </div>