<script src="/custom/js/three.min.js"></script>
<script src="/custom/js/vanta.net.min.js"></script>
<script>
/*cuando se carga la página*/
window.addEventListener('load', function() {
/*si está en el index ejecuta la función*/
    if (document.body.id === 'page-site-index') {
        executeVisualEffect();
    } else if (document.body.id === 'page-login-index'){
        executeVisualEffect();
    };
    executeVisualEffect();
    function executeVisualEffect() {
        VANTA.NET({
            el: ".inner_page_breadcrumb",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xb7e1ff,
            backgroundColor: 0x52a5f,
            points: 9.00,
            maxDistance: 23.00,
            spacing: 12.00
        });
    }
    if (document.body.className === 'course-45') {
        console.log('si la tiene');
    } else{
        console.log('no la tiene');
    };
    
});

</script>

<style>
    
  </style>

<body>
  <a id="open-modal-btn" href="http://www.ayuda.unaltodosalau.com/open.php" target="_blank">
    <img src="https://www.blackboard.com/sites/default/files/styles/650w/public/2019-09/IT_HelpDesk_IT%20Help%20Desk.png?itok=6GupPlGC" alt="Ícono de ticket">
    Abrir un ticket
  </a>
  <div id="dialog-box">
    <p class="question">¿Tienes problemas con tu formación?</p>
    <p>No dudes en ponerte en contacto con nosotros</p>
  </div>
<div id="support-request" class="support-request">
    <a type="button" target="_blank" class="btn btn-primary btn-sm text-center" href="https://docs.google.com/forms/d/14lQ9O8jvR_dx5N8KQpcFzOWDIUMQ91XE8ZLbIffQ8Vo/viewform?edit_requested=true">
        <svg class="m-2 icon-request" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 640 512">
            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path d="M544 248v3.3l69.7-69.7c21.9-21.9 21.9-57.3 0-79.2L535.6 24.4c-21.9-21.9-57.3-21.9-79.2 0L416.3 64.5c-2.7-.3-5.5-.5-8.3-.5H296c-37.1 0-67.6 28-71.6 64H224V248c0 22.1 17.9 40 40 40s40-17.9 40-40V176c0 0 0-.1 0-.1V160l16 0 136 0c0 0 0 0 .1 0H464c44.2 0 80 35.8 80 80v8zM336 192v56c0 39.8-32.2 72-72 72s-72-32.2-72-72V129.4c-35.9 6.2-65.8 32.3-76 68.2L99.5 255.2 26.3 328.4c-21.9 21.9-21.9 57.3 0 79.2l78.1 78.1c21.9 21.9 57.3 21.9 79.2 0l37.7-37.7c.9 0 1.8 .1 2.7 .1H384c26.5 0 48-21.5 48-48c0-5.6-1-11-2.7-16H432c26.5 0 48-21.5 48-48c0-12.8-5-24.4-13.2-33c25.7-5 45.1-27.6 45.2-54.8v-.4c-.1-30.8-25.1-55.8-56-55.8c0 200 200 200 200 0l-120 0z"></path>
        </svg> <br>
        Solicitar <br>
        apoyo <br>
        psicosocial <br>
    </a>
</div>
</body>


general.js:102 Only one LaunchDarklyClient can exist at a time, but another client already exists.  This probably means something has gone wrong with our DI system, or we're using it incorrectly.