<div class="alert alert-success" role="alert">
    <h4>
        Ha completado el proceso de prueba de suficiencia.
    </h4>
    <strong>
    El nivel ha sido confirmado.</strong> 
    <br>Por favor, estar pendiente del correo electrónico registrado. La plataforma enviará una clave de matriculación para que pueda vincularse a una franja horaria.
</div>





<div class="alert alert-warning" role="alert">
    <h4>
        Su prueba de suficiencia <strong>no ha sido exitosa</strong>
    </h4>
    <strong>Será matriculado en el nivel Básico
    </strong>
    <br>Por favor, estar pendiente del correo electrónico registrado. La plataforma enviará una clave de matriculación para que pueda vincularse a una franja horaria.
</div>