<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: $$$/GeneralStr/196=Adobe Illustrator 27.6.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1843 1860" style="enable-background:new 0 0 1843 1860;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#1D5197;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#E8793B;}
	.st3{font-family:'MuseoSansCondensed-900';}
	.st4{font-size:73.1273px;}
	.st5{fill:#CCE2F1;}
	.st6{fill:#253064;}
	.st7{font-size:73.5504px;}
	.st8{fill:none;}
	.st9{font-family:'MuseoSansCondensed-300';}
	.st10{font-size:49.3449px;}
	.st11{font-size:61.0801px;}
	.st12{fill:#5564AC;}
	.st13{font-size:65.1726px;}
	.st14{font-size:44.6898px;}
	.st15{font-size:63.8495px;}
	.st16{font-size:38px;}
	.st17{font-size:55.2814px;}
	.st18{opacity:0.73;fill:#FFFFFF;}
	.st19{fill:#FEFEF2;}
	.st20{font-size:47.5786px;}
	.st21{font-size:41.194px;}
	.st22{font-size:42.8277px;}
	.st23{font-size:53.0691px;}
	.st24{font-size:68.7213px;}
</style>
<rect x="-46.2" y="-58.8" class="st0" width="1924.5" height="1944.8"/>
<circle class="st1" cx="532.3" cy="643" r="41.8"/>
<circle class="st1" cx="232.6" cy="781.8" r="41.8"/>
<circle class="st1" cx="74.1" cy="577.9" r="59.4"/>
<g>
	<g>
		<path class="st1" d="M1580.5,1304.6c-53,0-96.1-43.1-96.1-96.1c0-53,43.1-96.1,96.1-96.1c53,0,96.1,43.1,96.1,96.1
			C1676.6,1261.5,1633.5,1304.6,1580.5,1304.6z M1580.5,1113.1c-52.6,0-95.4,42.8-95.4,95.4s42.8,95.4,95.4,95.4
			c52.6,0,95.4-42.8,95.4-95.4S1633.1,1113.1,1580.5,1113.1z"/>
	</g>
	<g>
		<path class="st2" d="M446,1339c-255.2,0-462.8-207.6-462.8-462.8c0-255.2,207.6-462.8,462.8-462.8
			c232.7,0,425.9,172.6,458.1,396.6h2.9c-5.6-39.5-16.3-78-31.9-115c-23.5-55.4-57-105.2-99.8-148c-42.8-42.8-92.6-76.3-148-99.8
			c-57.4-24.3-118.4-36.6-181.2-36.6c-62.9,0-123.8,12.3-181.2,36.6c-55.4,23.5-105.2,57-148,99.8c-42.8,42.8-76.3,92.6-99.8,148
			c-24.3,57.4-36.6,118.4-36.6,181.2s12.3,123.8,36.6,181.2c23.5,55.4,57,105.2,99.8,148c42.8,42.8,92.6,76.3,148,99.8
			c57.4,24.3,118.4,36.6,181.2,36.6c62.9,0,123.8-12.3,181.2-36.6c55.4-23.5,105.2-57,148-99.8c19.5-19.5,37.1-40.5,52.7-62.8h-3.7
			C740.3,1261.4,602,1339,446,1339z"/>
	</g>
	<circle class="st2" cx="630.7" cy="472.4" r="88.6"/>
	<text transform="matrix(1 0 0 1 566.869 497.1445)" class="st1 st3 st4">30%</text>
	<circle class="st5" cx="903.6" cy="889" r="88.6"/>
	<g>
		<text transform="matrix(1 0 0 1 839.7223 911.584)" class="st6 st3 st7">50%</text>
	</g>
	<g>
		<path class="st1" d="M1398.7,445.7c-53,0-96.1-43.1-96.1-96.1s43.1-96.1,96.1-96.1s96.1,43.1,96.1,96.1S1451.7,445.7,1398.7,445.7
			z M1398.7,254.2c-52.6,0-95.4,42.8-95.4,95.4s42.8,95.4,95.4,95.4c52.6,0,95.4-42.8,95.4-95.4S1451.3,254.2,1398.7,254.2z"/>
	</g>
	<path class="st2" d="M1481.9,333.7l-33.4-42.9l-7.7-9.9c-5.3-6.9-13.5-10.9-22.2-10.9H1064v0c-41.7,0.9-75.2,35-75.2,77
		s33.5,76,75.2,77v0h354.7c8.6,0,16.7-3.9,22-10.6l11.7-14.6c0,0,0,0,0,0l29.2-36.5c0,0,0,0,0,0
		C1488.4,353.9,1488.4,342.1,1481.9,333.7z"/>
	<circle class="st1" cx="446" cy="873.5" r="244.4"/>
	<g>
		<rect x="1056.6" y="311" class="st8" width="377.1" height="96"/>
		<text transform="matrix(1 0 0 1 1056.5614 345.6875)"><tspan x="0" y="0" class="st1 st9 st10">Test transición</tspan><tspan x="0" y="44" class="st1 st9 st10">Energética</tspan></text>
	</g>
	<text transform="matrix(1 0 0 1 1286.8336 300.0596)" class="st6 st3 st11">10%</text>
	<g>
		<path class="st1" d="M838.7,216c-44.4,0-80.5-36.1-80.5-80.5S794.3,55,838.7,55c44.4,0,80.5,36.1,80.5,80.5S883.1,216,838.7,216z
			 M838.7,55.6c-44.1,0-79.9,35.8-79.9,79.9s35.8,79.9,79.9,79.9c44.1,0,79.9-35.8,79.9-79.9S882.7,55.6,838.7,55.6z"/>
	</g>
	<path class="st12" d="M1130.5,124.3L1103.8,90l-6.2-7.9c-4.3-5.5-10.8-8.7-17.8-8.7H796.3v0c-33.4,0.8-60.2,28-60.2,61.6
		s26.8,60.8,60.2,61.6v0H1080c6.8,0,13.3-3.1,17.6-8.5l9.4-11.7l0,0l23.3-29.2c0,0,0,0,0,0C1135.7,140.5,1135.7,131,1130.5,124.3z"
		/>
	<g>
		<path class="st1" d="M342,1810.8c-44.4,0-80.5-36.1-80.5-80.5s36.1-80.5,80.5-80.5s80.5,36.1,80.5,80.5S386.4,1810.8,342,1810.8z
			 M342,1650.4c-44.1,0-79.9,35.8-79.9,79.9c0,44.1,35.8,79.9,79.9,79.9c44.1,0,79.9-35.8,79.9-79.9
			C421.9,1686.3,386.1,1650.4,342,1650.4z"/>
	</g>
	<path class="st12" d="M633.8,1719.1l-26.7-34.3l-6.2-7.9c-4.3-5.5-10.8-8.7-17.8-8.7H299.6v0c-33.4,0.8-60.2,28-60.2,61.6
		c0,33.5,26.8,60.8,60.2,61.6v0h283.7c6.8,0,13.3-3.1,17.6-8.5l9.4-11.7l0,0l23.3-29.2c0,0,0,0,0,0
		C639,1735.3,639.1,1725.8,633.8,1719.1z"/>
	<text transform="matrix(1 0 0 1 1044.5874 120.3115)" class="st6 st3 st13">5%</text>
	<text transform="matrix(1 0 0 1 522.2136 1690.5908)" class="st6 st3 st13">5%</text>
	<text transform="matrix(1 0 0 1 1044.5874 110.0693)" class="st1 st3 st13">5%</text>
	<g>
		<rect x="805.8" y="114.6" class="st8" width="129.3" height="40.9"/>
		<text transform="matrix(1 0 0 1 805.783 146.0254)" class="st1 st9 st14">Video</text>
	</g>
	<g>
		<rect x="294.1" y="1706.9" class="st8" width="365.6" height="50.1"/>
		<text transform="matrix(1 0 0 1 294.1412 1738.3213)" class="st1 st9 st14">Autoevaluación</text>
	</g>
	<text transform="matrix(1 0 0 1 522.2136 1680.3496)" class="st1 st3 st13">5%</text>
	<g>
		<path class="st1" d="M1655.7,857.3c-53,0-96.1-43.1-96.1-96.1c0-53,43.1-96.1,96.1-96.1c53,0,96.1,43.1,96.1,96.1
			C1751.8,814.2,1708.7,857.3,1655.7,857.3z M1655.7,665.8c-52.6,0-95.4,42.8-95.4,95.4c0,52.6,42.8,95.4,95.4,95.4
			c52.6,0,95.4-42.8,95.4-95.4C1751.1,708.6,1708.3,665.8,1655.7,665.8z"/>
	</g>
	<path class="st5" d="M1708.8,747.1l-33.4-42.9l-7.7-9.9c-5.3-6.9-13.5-10.9-22.2-10.9H1291v0c-41.7,0.9-75.2,35-75.2,77
		c0,41.9,33.5,76,75.2,77v0h354.7c8.6,0,16.7-3.9,22-10.6l11.7-14.6c0,0,0,0,0,0l29.2-36.5c0,0,0,0,0,0
		C1715.3,767.4,1715.4,755.6,1708.8,747.1z"/>
	<text transform="matrix(1 0 0 1 1505.547 692.458)" class="st6 st3 st15">20%</text>
	<text transform="matrix(1 0 0 1 1508.34 682.2168)" class="st1 st3 st15">20%</text>
	<rect x="1276.1" y="741" class="st8" width="377.1" height="51.7"/>
	<text transform="matrix(1 0 0 1 1276.0532 772.3789)" class="st6 st9 st14">Entrega #1 proyecto</text>
	<circle class="st12" cx="1230.7" cy="1208.8" r="69.5"/>
	<path class="st5" d="M1633.6,1194.4l-33.4-42.9l-7.7-9.9c-5.3-6.9-13.5-10.9-22.2-10.9h-354.5v0c-41.7,0.9-75.2,35-75.2,77
		c0,41.9,33.5,76,75.2,77v0h354.7c8.6,0,16.7-3.9,22-10.6l11.7-14.6c0,0,0,0,0,0l29.2-36.5c0,0,0,0,0,0
		C1640.1,1214.7,1640.2,1202.9,1633.6,1194.4z"/>
	<rect x="1209.9" y="1169.3" class="st8" width="377.1" height="89.7"/>
	<text transform="matrix(1 0 0 1 1209.8546 1200.6768)"><tspan x="0" y="0" class="st6 st9 st14">Entrega #2 proyecto</tspan><tspan x="0" y="39" class="st6 st9 st14">prototipo</tspan></text>
	<g>
		<path class="st1" d="M985.8,1676.8c-45.9,0-83.2-37.3-83.2-83.2s37.3-83.2,83.2-83.2c45.9,0,83.2,37.3,83.2,83.2
			S1031.7,1676.8,985.8,1676.8z M985.8,1511c-45.6,0-82.6,37.1-82.6,82.6c0,45.6,37.1,82.6,82.6,82.6c45.6,0,82.6-37.1,82.6-82.6
			C1068.4,1548,1031.3,1511,985.8,1511z"/>
	</g>
	<path class="st5" d="M1031.8,1581.4l-28.9-37.2l-6.7-8.6c-4.6-5.9-11.7-9.4-19.3-9.4H670v0c-36.1,0.8-65.1,30.3-65.1,66.6
		s29,65.8,65.1,66.6v0h307.1c7.4,0,14.4-3.4,19-9.2l10.1-12.7l0,0l25.3-31.6c0,0,0,0,0,0C1037.4,1599,1037.5,1588.7,1031.8,1581.4z"
		/>
	<rect x="680" y="1559.1" class="st8" width="223" height="82.9"/>
	<text transform="matrix(1 0 0 1 679.9999 1585.7783)"><tspan x="0" y="0" class="st6 st9 st16">Entrega final</tspan><tspan x="0" y="33" class="st6 st9 st16">de proyecto</tspan></text>
	<text transform="matrix(1 0 0 1 859.6317 1542.1982)" class="st6 st3 st17">20%</text>
	<path class="st18" d="M548.7,1156.6c150.3-57.7,226.1-226.3,170.1-376.8c7-3.4,10.4-11.6,7.5-19c-3-7.8-11.7-11.7-19.5-8.7
		s-11.7,11.7-8.7,19.5c2.5,6.5,8.9,10.2,15.5,9.6c55.3,147.9-19.1,313.6-166.8,370.4c-143.2,55-303.8-12.3-366.2-150.3
		c4.1-4.1,5.6-10.3,3.4-16.1c-3-7.8-11.7-11.7-19.5-8.7s-11.7,11.7-8.7,19.5c3,7.8,11.7,11.7,19.5,8.7c0.3-0.1,0.5-0.2,0.8-0.4
		C239.9,1144.4,403.1,1212.5,548.7,1156.6z"/>
	<text transform="matrix(1 0 0 1 862.0502 1533.332)" class="st1 st3 st17">20%</text>
	<text transform="matrix(1 0 0 1 1426.6708 1144.7412)" class="st6 st3 st15">10%</text>
	<text transform="matrix(1 0 0 1 1426.464 1133.6377)" class="st1 st3 st15">10%</text>
	<g>
		<text transform="matrix(1 0 0 1 718.0895 81.4268)" class="st19 st3 st20">semana 05 </text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 575.538 1519.6611)" class="st19 st3 st21">semana 17</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 1092.7113 1122.5625)" class="st19 st3 st20">semana 14</text>
	</g>
	<g>
		<path class="st1" d="M1346.8,1065.7c-44.4,0-80.5-36.1-80.5-80.5s36.1-80.5,80.5-80.5s80.5,36.1,80.5,80.5
			S1391.2,1065.7,1346.8,1065.7z M1346.8,905.4c-44.1,0-79.9,35.8-79.9,79.9s35.8,79.9,79.9,79.9c44.1,0,79.9-35.8,79.9-79.9
			S1390.9,905.4,1346.8,905.4z"/>
	</g>
	<path class="st12" d="M1638.6,974l-26.7-34.3l-6.2-7.9c-4.3-5.5-10.8-8.7-17.8-8.7h-283.5v0c-33.4,0.8-60.2,28-60.2,61.6
		c0,33.5,26.8,60.8,60.2,61.6v0h283.7c6.8,0,13.3-3.1,17.6-8.5l9.4-11.7c0,0,0,0,0,0l23.3-29.2c0,0,0,0,0,0
		C1643.8,990.2,1643.9,980.8,1638.6,974z"/>
	<text transform="matrix(1 0 0 1 1524.5695 955.5889)" class="st6 st3 st13">5%</text>
	<text transform="matrix(1 0 0 1 1524.5695 945.3467)" class="st1 st3 st13">5%</text>
	<g>
		<rect x="1289.2" y="967.1" class="st8" width="317" height="50.3"/>
		<text transform="matrix(1 0 0 1 1289.2267 997.2344)" class="st1 st9 st22">Quiz Línea Técnica</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 1225.332 927.4268)" class="st19 st3 st20">semana 12</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 1135.2283 675.9072)" class="st19 st3 st20">semana 10</text>
	</g>
	<g>
		<g>
			<path class="st1" d="M1250.7,627.6c-44.4,0-80.5-36.1-80.5-80.5s36.1-80.5,80.5-80.5s80.5,36.1,80.5,80.5
				S1295.1,627.6,1250.7,627.6z M1250.7,467.3c-44.1,0-79.9,35.8-79.9,79.9c0,44.1,35.8,79.9,79.9,79.9c44.1,0,79.9-35.8,79.9-79.9
				C1330.6,503.1,1294.8,467.3,1250.7,467.3z"/>
		</g>
		<path class="st12" d="M1542.5,535.9l-26.7-34.3l-6.2-7.9c-4.3-5.5-10.8-8.7-17.8-8.7h-283.5v0c-33.4,0.8-60.2,28-60.2,61.6
			s26.8,60.8,60.2,61.6v0h283.7c6.8,0,13.3-3.1,17.6-8.5l9.4-11.7c0,0,0,0,0,0l23.3-29.2c0,0,0,0,0,0
			C1547.7,552.1,1547.8,542.7,1542.5,535.9z"/>
		<text transform="matrix(1 0 0 1 1495.7008 509.2803)" class="st6 st3 st13">5%</text>
		<g>
			<rect x="1231.3" y="526.5" class="st8" width="365.6" height="50.1"/>
			<text transform="matrix(1 0 0 1 1231.3181 557.9424)" class="st1 st9 st14">Foro</text>
		</g>
		<text transform="matrix(1 0 0 1 1495.7008 499.04)" class="st1 st3 st13">5%</text>
		<g>
			<text transform="matrix(1 0 0 1 1109.6753 507.9443)" class="st19 st3 st20">semana 08</text>
		</g>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 945.8833 262.9072)" class="st19 st3 st20">semana 07</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 241.9178 1679.9443)" class="st19 st3 st20">semana 18</text>
	</g>
	<g>
		<path class="st1" d="M1318.7,1511.2c-55.5,0-100.6-45.1-100.6-100.6c0-55.5,45.1-100.6,100.6-100.6c55.5,0,100.6,45.1,100.6,100.6
			C1419.3,1466,1374.2,1511.2,1318.7,1511.2z M1318.7,1310.7c-55.1,0-99.9,44.8-99.9,99.9c0,55.1,44.8,99.9,99.9,99.9
			c55.1,0,99.9-44.8,99.9-99.9C1418.6,1355.5,1373.8,1310.7,1318.7,1310.7z"/>
	</g>
	<path class="st2" d="M1379.5,1385.5l-33.4-29.9l-7.7-9.9c-5.3-6.9-13.5-10.9-22.2-10.9H961.7v0c-41.7,0.9-75.2,22-75.2,64
		c0,41.9,33.5,65,75.2,66v0h354.7c8.6,0,16.7-3.9,22-10.6l11.7-14.6l0,0l29.2-25.5c0,0,0,0,0,0
		C1386,1405.8,1386.1,1393.9,1379.5,1385.5z"/>
	<text transform="matrix(1 0 0 1 1206.7543 1366.9883)" class="st6 st3 st11">20%</text>
	<g>
		<rect x="975.9" y="1376.7" class="st8" width="265" height="66"/>
		<text transform="matrix(1 0 0 1 975.8656 1413.9814)" class="st1 st9 st23">Test HSE </text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 806.5725 1325.9756)" class="st19 st3 st20">semana 16</text>
	</g>
	<g>
		<rect x="286.2" y="759" class="st8" width="327.8" height="186"/>
		<text transform="matrix(1 0 0 1 380.0275 809.2607)"><tspan x="0" y="0" class="st6 st3 st24">Nivel</tspan><tspan x="-79.5" y="67.3" class="st6 st3 st24">Intermedio </tspan><tspan x="-84.5" y="134.6" class="st6 st3 st24">y Avanzado</tspan></text>
	</g>
</g>
<circle class="st12" cx="463.1" cy="1311.6" r="88.6"/>
<g>
	<text transform="matrix(1 0 0 1 399.223 1334.1963)" class="st1 st3 st7">20%</text>
</g>
<text transform="matrix(1 0 0 1 1206.7543 1361.4014)" class="st1 st3 st11">20%</text>
<text transform="matrix(1 0 0 1 1291.8151 292.9346)" class="st1 st3 st11">10%</text>
</svg>
