<p bis_size="{&quot;x&quot;:20,&quot;y&quot;:20,&quot;w&quot;:1062,&quot;h&quot;:131,&quot;abs_x&quot;:123,&quot;abs_y&quot;:391}">
    <img style="height:125px;width:651px;" src="/sites/default/files/BannerSig_banner_0.png" alt="BannerSig_banner" bis_size="{&quot;x&quot;:20,&quot;y&quot;:20,&quot;w&quot;:651,&quot;h&quot;:125,&quot;abs_x&quot;:123,&quot;abs_y&quot;:391}">
</p>
<p bis_size="{&quot;x&quot;:20,&quot;y&quot;:164,&quot;w&quot;:1062,&quot;h&quot;:20,&quot;abs_x&quot;:123,&quot;abs_y&quot;:535}">
    <a href="/articulo/maloca-aulasig" bis_size="{&quot;x&quot;:20,&quot;y&quot;:166,&quot;w&quot;:175,&quot;h&quot;:15,&quot;abs_x&quot;:123,&quot;abs_y&quot;:537}">Regreso a Maloca Aulas SIG</a>
</p>
<p bis_size="{&quot;x&quot;:20,&quot;y&quot;:197,&quot;w&quot;:1062,&quot;h&quot;:80,&quot;abs_x&quot;:123,&quot;abs_y&quot;:568}">
    <br>
    Los Planes de Mejoramiento por proceso permiten establecer acciones destinadas a subsanar hallazgos o no conformidades reales y/o potenciales, igualmente detectar y proponer oportunidades de mejora para los procesos del Instituto.
    <br>
    
</p>
<p>
    Plan de mejoramiento y seguimiento
</p>
<p>
    2023
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-06/Plan%20de%20Mejoramiento%20con%20seguimiento%20I%20trimestre%202023.xlsx" target="_blank">Plan de Mejoramiento con seguimiento OCI primer&nbsp;trimestre de 2023</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%202023.xlsx">Plan de Mejoramiento 2023</a>
    </li>
</ul>
<hr>
<p>
    2022
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/Informe%20dic%202022%20plan%20de%20mejoramiento.pdf" target="_blank">Informe ejecutivo a diciembre de 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20con%20seguimiento%20cuarto%20trimestre%20de%202022_0.xlsx" target="_blank">Plan de mejoramiento con seguimiento OCI cuarto trimestre de 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/informe%20sep%20plan%20de%20mejoramiento%202022.pdf" target="_blank">Informe ejecutivo a septiembre de 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20con%20seguimiento%20tercer%20trimestre%20de%202022.xlsx" data-saferedirecturl="https://www.google.com/url?q=http://www.idep.edu.co/sites/default/files/Plan%2520de%2520Mejoramiento%2520con%2520seguimiento%2520tercer%2520trimestre%2520de%25202022.xlsx&amp;source=gmail&amp;ust=1666303551779000&amp;usg=AOvVaw3q36Uq-L6EuT_nTCUiUcsl" target="_blank">Plan de mejoramiento con seguimiento OCI tercer trimestre 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/FT-MIC-03-03%20Plan%20de%20Mejoramiento%C2%A0v2.xlsx" target="_blank">Plan de Mejoramiento 2022 V2</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento_2022%20-%20segundo%20trimestre%202022.xlsx" target="_blank">Plan de Mejoramiento con seguimiento segundo trimestre de 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento_2022%20-%20primer%20trimestre%202022.xlsx" target="_blank">Plan de Mejoramiento con seguimiento primer&nbsp;trimestre de 2022</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento_2022.xlsx" target="_blank">Plan de Mejoramiento 2022</a>
    </li>
</ul>
<hr>
<p>
    2021
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/informe%20a%20dic%202021%20final.pdf" target="_blank">Informe ejecutivo a diciembre 2021</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%202021%20IV%20seguimiento%20FINAL.xlsx" target="_blank">Plan de mejoramiento con seguimiento OCI a diciembre 2021</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/informe%20a%20junio%202021.docx" target="_blank">Informe ejecutivo a junio 2021</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%202021_III_seguimiento_VF.xlsx" target="_blank">Plan de Mejoramiento con seguimiento tercer trimestre de 2021</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20corte%20a%20junio%202021.xlsx" target="_blank">Plan de mejoramiento con seguimiento OCI a junio de 2021</a><a href="http://www.idep.edu.co/sites/default/files/Plan%20de%20Mejoramiento%20con%20seguimiento%20OCI%20a%20diciembre%202020.xlsx" target="_blank">​</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%202021_II_seguimiento.xlsx" target="_blank">Plan de Mejoramiento con seguimiento segundo trimestre de 2021</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%202021_I_seguimiento.xlsx">Plan de Mejoramiento con seguimiento primer&nbsp;trimestre de 2021</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Plan_de_Mejoramiento_2021.xlsx">Plan de Mejoramiento 2021</a>
    </li>
</ul>
<hr>
<p>
    2020
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/informe%20a%20dic%202020%20final.docx" target="_blank">Informe ejecutivo a diciembre de 2020</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20con%20seguimiento%20OCI%20a%20diciembre%202020.xlsx" target="_blank">Plan de Mejoramiento con seguimiento OCI&nbsp; a diciembre&nbsp;de 2020</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Seguimiento%20IV%20Plan%20de%20Mejoramiento%20%20Interno%20%20OAP%20F.xlsx" target="_blank">Plan de Mejoramiento con seguimiento cuarto&nbsp;trimestre de 2020</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Seguimiento%20III%20Plan%20de%20Mejoramiento%20%20Interno%20%20OAP%20VF.xlsx">Plan de Mejoramiento con seguimiento tercer&nbsp;trimestre de 2020</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20%20Seguimiento%20II%20trimestre%20OCI%20%281%29.xlsx">Plan de Mejoramiento seguimiento II trimestre OCI</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe%20a%20junio%20de%202020.pdf" target="_blank">Informe ejecutivo junio&nbsp;2020</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20%20Seguimiento%20I%20Trimestre-1.xlsx">Plan de Mejoramiento con seguimiento primer&nbsp;trimestre de 2020</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20%202020.xlsx">Plan de Mejoramiento 2020</a>
    </li>
</ul>
<hr>
<p>
    2019
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/Consolidado%20Plan%20mejoramiento%202019-4.xlsx">Plan de Mejoramiento con seguimiento cuarto trimestre de 2019</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20con%20seguimiento%20OCI%20%20a%20Diciembre%202019.xlsx">Plan de Mejoramiento con seguimiento OCI&nbsp; a Diciembre 2019</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe%20Ejecutivo%20Plan%20de%20Mejoramiento%20Institucional%20por%20procesos.pdf" target="_blank">Informe ejecutivo del Estado del Plan de Mejoramiento Institucional por procesos a diciembre de 2019</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Consolidado%20Plan%20mejoramiento%202019-3.xlsx">Plan de Mejoramiento con seguimiento tercer trimestre de 2019</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/PMXP%20seguim%20Control%20Int%202019-2.xlsx">Plan de Mejoramiento con seguimiento OCI segundo trimestre de 2019</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Consolidado%20Plan%20mejoramiento%202019-2.xlsx">Plan de Mejoramiento con&nbsp;seguimiento segundo trimestre de 2019</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Plan_mejoramiento_por_procesos_2019-1.xlsx">Plan de mejoramiento 2019</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Plan%20de%20Mejoramiento%20por%20Procesos%20Seguimiento%20a%20Abril%20de%202019_0.xlsx">
            Plan de Mejoramiento&nbsp;con seguimiento OCI primer trimestre de 2019

        </a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Informe%20ejecutivo%20Plan%20de%20Mejoramiento%20con%20corte%20a%2030%20de%20abril%20de%202019.pdf"  target="_blank">Seguimiento Plan de Mejoramiento por procesos abril de 2019</a>
    </li>
</ul>
<p>
    2018
</p>
<ul>
    <li >
        <a href="/sites/default/files/2023-05/Plan_Mejoramiento_Procesos_Seguimiento_DICIEMBRE_2018.xlsx">Plan de Mejoramiento&nbsp;con seguimiento a diciembre de 2018</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_de_Mejoramiento_Diciembre_2018.pdf" target="_blank">Seguimiento Plan de Mejoramiento diciembre de 2018</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_de_Mejoramiento_30_09_2018.pdf" target="_blank">Seguimiento Plan de Mejoramiento 30 de septiembre de 2018</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/InformeSeguimientoPlanMejoramiento30_06_2018.pdf"target="_blank">Seguimiento Plan de Mejoramiento segundo trimestre de 2018&nbsp;</a>
    </li>
</ul>
<p>
    2017
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Diciembre_2017.pdf" target="_blank">Seguimiento Plan de Mejoramiento por procesos con corte diciembre de 2017&nbsp;</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_CERRATON%20Nov_2017.pdf" target="_blank">Seguimiento Plan de Mejoramiento por procesos con corte noviembre de 2017 (Cerratón de acciones de Mejora)</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_Mejoramiento_Septiembre_30_2017.pdf" target="_blank">Seguimiento Plan de Mejoramiento con corte a septiembre 30 de 2017</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_Mejoramiento_Junio_30_2017.pdf" target="_blank">Seguimiento Plan de Mejoramiento con corte a junio 30 de 2017</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_Mejoramiento_Marzo_31_2017_C__.docx" target="_blank">Seguimiento Plan de Mejoramiento con corte a marzo&nbsp;31&nbsp;de 2017</a>
    </li>
</ul>
<p>
    2016
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/Informe_Seguimiento_Plan_Mejoramiento_DIC_31_2016.pdf" target="_blank">Seguimiento Plan de Mejoramiento con corte a diciembre&nbsp;31&nbsp;de 2016</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Seguimiento_Plan_Mejoramiento_Septiembre_30_2016.pdf" target="_blank">Seguimiento Plan de Mejoramiento con corte a septiembre&nbsp;30&nbsp;de 2016</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Seguimiento_Plan_Mejoramiento_Julio_31_2016.pdf" >Seguimiento Plan de Mejoramiento con corte a julio&nbsp;31&nbsp;de 2016</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Seguimiento%20Plan%20de%20Mejoramiento%20con%20corte%20a%2030%20de%20Abril%20de%202016.pdf" target="_blank">
            Seguimiento Plan de Mejoramiento con corte a abril 30&nbsp;de 2016</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Seguimiento_Plan_Mejoramiento_Febrero_29_2016.pdf" >Seguimiento Plan de Mejoramiento con corte a febrero 29&nbsp;de 2016</a>
    </li>
</ul>
<p>
    2015
</p>
<ul>
    <li>
        <a href="/sites/default/files/2023-05/Seguimiento%20Plan%20de%20Mejoramiento%20con%20corte%20a%20Diciembre%2031%20de%202015.pdf" target="_blank">
            <strong>Seguimiento Plan de Mejoramiento con corte a diciembre&nbsp;31&nbsp;de 2015</a>
    </li>
    <li >
        <a href="/sites/default/files/2023-05/Informe_plan_mejoramiento_por_procesos_30_11_2015.pdf" target="_blank">Seguimiento Plan de Mejoramiento con corte a noviembre 30 de 2015</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/Informe%20plan%20de%20mejoramiento%20por%20procesos%20IDEP1%20Sep-2015.pdf" target="_blank">
            Seguimiento Plan de Mejoramiento con corte a septiembre 30&nbsp;de 2015</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/ESTADO_GENERAL_ACCIONES_PLAN_MEJORAMIENTO_PROCESOS_30_JUNIO_2015_0.pdf" target="_blank">
            Seguimiento Plan de Mejoramiento con corte a junio 30&nbsp;de 2015</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/ESTADO-GENERAL-ACCIONES-PLAN-DE-MEJORAMIENTO-POR-PROCESOS1.pdf" target="_blank">
            Seguimiento Plan de Mejoramiento con corte a mayo 31 de 2015</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/ESTADO-GENERAL-ACCIONES-PLAN-DE-MEJORAMIENTO-POR-PROCESOS.pdf" target="_blank">
            Seguimiento&nbsp;Plan de Mejoramiento con corte a abril&nbsp;30&nbsp;de 2015</a>
    </li>
    <li>
        <a href="/sites/default/files/2023-05/ESTADO-PLAN-DE-MEJORAMIENTO-03_2015.pdf" target="_blank">
            Seguimiento&nbsp;Plan de Mejoramiento con corte a marzo 3 de 2015</a>
    </li>
</ul>
<p>
    <a href="http://eventos.idep.edu.co/sites/default/files/3.%20ESTADO-PLAN-DE-MEJORAMIENTO-03_2015.pdf#overlay-context=content/plan-de-mejoramiento-institucional%3Fq%3Dcontent/plan-de-mejoramiento-institucional" target="_blank">​</a>
</p>