<div class="row justify-content-around align-items-center my-3 no-gutters">
    <div class="col-12 col-md-11 mb-3">
        <a class="btn btn-primary w-100 btn-lg" href="/mod/assign/view.php?id=13" role="button">
            Realizar la radicación de documentos
        </a>
    </div>
</div>